/* style.css */
/* .font-example {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-decoration:line-through;
    text-align: center;
} */

/* .line-spacing-example {
    line-height: 5;
    letter-spacing: 0.5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

/*Color values*/
.color-example {
    display: inline;
    color: black;
    background-color: rgba(255, 0, 0, 0.25);   
}

/* body{
    background-image: url("img3.png");
    background-repeat: cover;
    background-position: center top;
} */

img {
    width: 100px;
    height: auto;
    border-radius: 50px;
}