@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

.bg {
    background-color: aqua;
    background-image: url("https://burst.shopifycdn.com/photos/fog-on-dark-waters-edge.jpg?width=1000&format=pjpg&exif=0&iptc=0");
    /* background-image: url("sample-image.jpg"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;

    /*  background: bg-color || bg-image || bg-position || bg-size || bg-repeat */

    /* background: aquamarine url('sample.jpg') center cover no-repeat;

    background: rgb(248,248,249);
    background: linear-gradient(299deg, rgba(248,248,249,1) 0%, rgba(205,219,96,1) 35%, rgba(14,158,187,1) 100%); */

    margin: 10px 20px 30px 40px;

}

.font-example {
    font-size: 30px;
    font-weight: bold;
    font-family: "Kode Mono", monospace;
    font-style: italic;
    color:fuchsia;
    background-color: cyan;
}

.text-example {
    text-align: center;
    text-transform: uppercase;
    text-decoration: line-through;
    font-size: 20px;
}

#spacing-example {
    line-height: 1.5;
    letter-spacing: 5px;
    background-color: peachpuff;
}

/* text-shadow: 
    x-coordinate ||
    y-coordinate ||
    blur radius ||
    color of the shadow
 */
#shadow-example { 
    font-size: 20px;
    text-indent: 10px;
    text-shadow: 4px 8px 2px red;
}

.box-model {
    background-color: coral;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 10px;

    margin: 15px 10px 20px 25px;
    padding: 15px 10px 8px 4px;

    border: 10px dashed red;
    border-radius: 10px;

    text-align: center;

    height: 150px;
    width: 50px;
}

/* 
 == MARGIN and PADDING ==
    1 value = applied to all 4 sides
    2 value = top and bottom side || right and left side
    3 value = top || right and left side || bottom 
    4 values = top || right || bottom || left
*/

/* border : border-width || border-style || border-color */