p {
    width: 200px;
    height: 200px;
    background-color: lightskyblue;
}

.box1 {
    border: 10px dashed blue;
}

.box2 {
    border: 3px solid blue;
    padding-top: 20px;
}

.box3{
    border: 3px solid blue;
    margin: 20px;
}

.box-content {
    height: 250px;
    width: 250px;
    background-color: cadetblue;
    padding: 20px;
    box-sizing: content-box;
}

.box-border-box {
    height: 250px;
    width: 250px;
    background-color: cadetblue;
    margin-top: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.block {
    display: block;
    background-color: aquamarine;
    padding: 5px;
    margin-bottom: 5px;
}

.inline {
    display: inline;
    background-color: burlywood;
    padding: 5px;
}

.inline-block {
    display: inline-block;
    background-color: blueviolet;
    width: 130px;
}

.static {
    position: static;
    width: 200px;
    height: 50px;
    background-color: cadetblue;
}

.relative {
    position: relative;
    width: 200px;
    height: 50px;
    background-color: lightcoral;
}

.absolute {
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: lightgreen;
    top: 100px;
    left: 200px;
}

.fixed {
    position: fixed;
    width: 200px;
    height: 50px;
    background-color: lightpink;
    top: 20px;
    left: 30px;
}

.sticky {
    position: sticky;
    width: 200px;
    height: 50px;
    background-color: lightseagreen;
    top: 20px;
    left: 300px;
}