@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

.bg {
    background-color:lightpink;
    /* background-image:ur("sample-image.jpg"); */
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNRGlJ-iB18jufs5XuUwmmhiddg9P_seLN5A&usqp=CAU");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* gradient bg */
    background: rgb(248,248,249);
    background: linear-gradient(9deg, rgba(248,248,249,1) 0%, rgba(228,137,39,1) 38%, rgba(237,233,179,1) 100%);

    /* background: bg-color || bg-image || bg-position || bg-size || bg-repeat */

    /* background: aquamarine url('sample-image.jpg') center cover no-repeat; */
}

.font-sample {
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: "Madimi One", sans-serif;
    font-style:italic;
    font-size: 30px;
    font-weight: bold;
    background-color: teal;
    color: mintcream;
}

.text-sample {
    text-align: center;
    text-transform: uppercase;
    text-decoration: line-through;
    font-size: 20px;
}

#spacing-sample {
    background-color:palegoldenrod;
    line-height: 5;
    letter-spacing: 3px;
}

/* text-shadow: 
    x-coordinate ||
    y-coordinate ||
    blur radius ||
    color of the shadow    
*/
#shadow-sample {
    font-size: 20px;
    text-shadow: 10px 5px 8px red;
    text-indent: 20px;
}


.box-model {
    background-color: coral;
    height: 150px;
    width: 80px;

    padding: 10px 20px 50px 5px;
    margin: 5px 10px 40px 8px;

    margin-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

    border-color:crimson;
    border-width: 8px;
    border-style:groove;
    border: 10px inset rgb(210, 142, 142);
    border-radius: 50px ;

    border-top: 5px solid red;
    border-right: 5px dashed blue;
    border-bottom: 8px dotted green;
    border-left: 8px double yellowgreen;

}


/*  border: border-width || border-style || border-color */

/* 
   ===  MARGIN and PADDING ===s
        1 value = applied to all 4 sides
        2 value = top and bottom side || right and left side
        3 value = top side || right and left side || bottom side
        4 value = top || right || bottom || left
*/
