/* This is how you write a comment in CSS */

/* Universal Selector */
* {
    color:black;
}

/* Element Selector */
p {
    color: blue;
}

p {
    color: brown;
}

/* Class Selector */
.parag1 {
    color: violet;
}

/* ID Selector */
#id-sample {
    color: gray;
}

/* Attribute Selector */

/* targetting an anchor tag with a specific href value = www.example2.com */
a[href="www.example2.com"] {
    color: cyan;
}

/* targetting an <a> with a href attribute */
a[href] {
    color: purple;
}

/* targetting any element that has an href attribute */
[href] {
    color: orange;
}

/* Grouping Selector */
h1, h2, h3 {
    font-size: 20px;
    background-color: beige;
}

.heading1 , #heading2 , h3 {
    background-color: #a2c891;
}

/* Pseudo-class Selector */
.heading1:hover {
    background-color: bisque;
    color: darkblue;
}

/* Pseudo-element Selector */
h3::before {
    content: "123";
}

h3::after {
    content: "Placed after h3";
}

h3::first-letter {
    color: blue;
}
